@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');
*{
    margin: 0; 
    padding: 0; 
    font-family: 'domine';
  }
  body{
    background-color: #fafcfb;
  }
.page_title{
    padding-top:30px;
    padding-bottom: 50px;
    
}
.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: 100px;
    row-gap: 10px;
}

.task-title-menu{
    display: flex;
    overflow: hidden;
    
}


.title_done{
    background-color: #d0e1e8;
    display:flex;
    font-weight: bold;
    width: 300px;
    
}


.title_done .title{
    padding-left: 5px;
    padding-right: 75px;
    font-weight: bold;
    overflow: hidden;         
    text-overflow: ellipsis;  
    padding: 5px;              
    
}


.list_main_task{
    margin-left: 80px;
    
}


.show_task {
    position: relative;
    width: 335px;
    height: 90px;
    border: 1px solid indigo
    
    
}
.show_task:hover .description{
    visibility: visible;
}
.show_task .description{
    width :300px;
    overflow-y: scroll;
    visibility: hidden;
    position: absolute;
    border: 1px solid burlywood;
    box-sizing: border-box; 
    word-wrap: break-word;
    inset: 40px 0 0 0;
 
}
